<h1>
    Courses 
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fee</th>
        <th>Duration</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.courseId}}</td>
        <td>{{this.courseName}}</td>
        <td>{{this.courseFee}}</td>
        <td>{{this.courseDuration}}</td>
    </tr>
    {{/each}}

</table>